.visible {
    opacity: 1;
    transform: translateX(-30px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .not-visible {
    opacity: 0;
    transform: translateX(0);
  }

  .main {
    //width: 328px;
    //margin: 0 auto;
    @media screen and (max-width: 576px) {
    //width: 95%;
    //  max-width: 328px;
    }
  
    &-login-btn {
  width: 110%;
    }
  }

  .flexContainer {
    display: flex;
    align-items: center; /* This will center the text and icon vertically */
    justify-content: center; /* Optional: This will center the text and icon horizontally */
  }

  .googleIcon {
    //padding-left: 10px;
    flex: none;
    width: 24px;
    height: 24px;
  }
  
  