.card {
  position: relative;
  width: 100%;
}

.cardImg {
  transition: transform 0.4s ease-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoomedImage {
  transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
  transform: translateY(-40%) scale(1.4);
  position: relative;
}

.hoverTransition {
  transition: transform 0.1s ease-in-out 0.1s;
}

.details {
  position: absolute;
  padding: 10px;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  left: 0;
  //height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255);
  text-align: left;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.description {
  max-height: 50%;
  overflow-y: auto;
  text-align: left;
}

.visibleDetails {
  opacity: 1;
}

.zoomedDetails {
  transition: opacity 0.2s ease-in-out 0.3s;
  opacity: 1;
}

.playIcon {
  font-size: 34px;
}

.customDivider {
  border-top: 1px solid #f0f0f0;
  margin: 10px 0;
}

.cardContainer {
  width: 100%;
  height: 100%;
}

.scalingUp {
  transition: transform 0.3s ease-in-out 0.3s;
}

.scalingDown {
  transition: transform 0.3s ease-in-out;
}

.imageContainer {
  position: relative;
}

.cardImg {
  display: block;
  width: 100%;
  height: auto;
}

.progressCircle {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.whiteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.5;
}

.spinner-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.alerts-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.percentage {
  font-size: 1.3rem;
  font-weight: bold;
}

.cardContainer {
  position: relative;
  width: fit-content;
}

.cardImg {
  display: block;
}

.cardTime {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  text-align: center;
  padding: 6px 0;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 10px; /* Example radius */
  font-size: 11px; /* Smaller font size; adjust as needed */
}

.level {
  position: absolute;
  right: 5px; /* Adjusted with margin included */
  top: 0px; /* Adjusted with margin included */
  width: 20px; /* Fixed width for a perfect circle */
  height: 20px; /* Fixed height, same as width to ensure a circle */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  color: white;
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: center; /* Centers content horizontally */
  border-radius: 50%; /* Ensures circular shape */
  margin: 5px; /* Adds margin around the element */
  font-size: 10px; /* Smaller font size; adjust as needed */
}
