.card {
  position: relative;
  width: 100%;
}

.cardImg {
  cursor: pointer;
  transition: transform 0.4s ease-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoomedImage {
  transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
  transform: translateY(-40%) scale(1.4);
  position: relative;
}

.hoverTransition {
  transition: transform 0.1s ease-in-out 0.1s;
}

.scalingDown {
  transition: transform 0.3s ease-in-out;
}

.details {
  position: absolute;
  padding: 10px;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255);
  text-align: left;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.description {
  max-height: 50%;
  overflow-y: auto;
  text-align: left;
}

.visibleDetails {
  opacity: 1;
}

.zoomedDetails {
  transition: opacity 0.1s ease-in-out 0.5s; /* Add 0.1s delay */
  opacity: 1;
}

.playIcon {
  font-size: 34px;
}

.customDivider {
  border-top: 1px solid #f0f0f0;
  margin: 5px 0;
}

.cardContainer {
  width: 100%;
  height: 100%;
}

.scalingUp {
  transition: transform 0.2s ease-in-out 0.5s;
}

.scalingDown {
  transition: transform 0.2s ease-in-out;
}

.imageContainer {
  position: relative;
}

.progressCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
