.selected-word {
  position: relative;
}

.selected-word::before {
  content: "";
  position: absolute;
  top: 0;
  left: -24px;
  right: -24px;
  bottom: 0;
  background-color: rgb(253, 222, 184);
  z-index: 0;
}

.list-item-content {
  position: relative;
  z-index: 1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.vocabularyListScroll {
  overflow-y: auto;
  height: calc(32.5vh);
  width: 100%;
  /* margin-right: -25px; */
}
