.showControls {
  position: relative;
  z-index: 1;
}

.icon {
  font-size: 76px;
  transition: transform 0.3s ease-in-out;
  color:#0D0C1D ;
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.text {
  font-size: 14px;
  margin-top: 5px;
}

.customPopover {
  width: 100%;
  max-width: 300px;
}

.item {
  display: flex;
  padding: 6px 2px;
  font-size: 14px;
  &:hover {
    background-color: #f5f5f5;
  }
}

.flag {
  margin-right: 8px;
  margin-top: 3px;
}

.item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.centeredColumn {
  display: flex;
  align-items: center;
}

.slider {
  :global {
    .slick-list {
      overflow: visible;
    }
    .slick-slide {
      padding-right: 4px;
    }
    .conditionalZIndex {
      z-index: 10 !important;
      position:relative;
    }
  }
}

.redBackground {
  width: 100%;
  min-height: 100%;
  
  padding-bottom: 24px;
  background-color: #171625;
  //background-color: #000000;
  //background-color: #141414;
  //padding-block: 24px;
    padding-inline: 48px;
}

.drawerContainer {
  display: flex;
  flex-direction: column;
}

.drawerPushContent {
  background-color: #d7dfea;
  transition: max-height 0.6s ease-in-out;
  overflow: hidden;
}

.box {
  display: "flex";
  justify-content: "center";
  width: "100%";
  background-color: #fff; /* Change this to your desired background color */
  transition: transform 0.3s;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
}

.box:hover {
  transform: scale(1.1);
}