.showControls {
  position: relative;
  z-index: 1;
}

.icon {
  font-size: 46px;
  transition: transform 0.3s ease-in-out;
  color:#0D0C1D ;
}

.icon:hover {
  //transform: scale(1.2);
  cursor: pointer;
}

.text {
  font-size: 14px;
  margin-top: 5px;
}

.customPopover {
  width: 100%;
  max-width: 300px;
}

.item {
  display: flex;
  padding: 6px 2px;
  font-size: 14px;
  &:hover {
    background-color: #f5f5f5;
  }
}

.flag {
  margin-right: 8px;
  margin-top: 3px;
}

.item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.slider {
  :global {
    .slick-list {
      overflow: visible;
    }
    .slick-slide {
      padding-right: 4px;
    }
    .conditionalZIndex {
      z-index: 10 !important;
      position:relative;
    }
  }
}

.redBackground {
  width: 100%;
  min-height: 100%;
  
  padding-bottom: 24px;
  background-color: #171625;
}

.drawerContainer {
  display: flex;
  flex-direction: column;
}

.drawerPushContent {
  background-color: #d7dfea;
  transition: max-height 0.6s ease-in-out;
  overflow: hidden;
}

.box {
  display: flex;
  //justify-content: "center";
  background-color: #d7dfea;
  transition: transform 0.3s;
  cursor: pointer;
  padding: 10px;
  //margin-bottom: 10px;
}

.box:hover {
  //transform: scale(1.1);
}

.whiteIconBox {
  color: white;
  background-color:#171625;
  padding: 5px;
  //border-radius: 5px;
}

//almond: #F1DAC4
.fullWidthWhiteBackground {
  background-color: #d7dfea;
  width: 100%;
  display: flex;
  justify-content: center;
}
