.visible {
  opacity: 1;
  transition: opacity 1s ease, transform 1s ease;
}

.not-visible {
  opacity: 0;
}

.container {
  padding-block: 0px;
  padding-inline: 48px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.my-video-container {
  //position: sticky;
}

.fixedVideoAndVocabulary {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0; /* adjust this to change the position */
}

.translateBoxScroll {
  position: relative;
  overflow-y: scroll;
  height: calc(76.5vh);
}

.myFixedPlayButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  height: 50px;
  width: 50px;
  border-radius: 50%; /* makes the button circular */
  background-color: #f00; /* change to desired color */
  color: #fff; /* changes the color of the play icon */
  border: none; /* removes the button border */
  display: flex; /* used to center the play icon */
  justify-content: center; /* centers the play icon horizontally */
  align-items: center; /* centers the play icon vertically */
}

.myPlayButton {
  position: fixed;
  z-index: 9999;
  height: 50px;
  left: 1%;
  width: 50px;
  border-radius: 50%; /* makes the button circular */
  background-color: #f00; /* change to desired color */
  color: #fff; /* changes the color of the play icon */
  border: none; /* removes the button border */
  display: flex; /* used to center the play icon */
  justify-content: center; /* centers the play icon horizontally */
  align-items: center; /* centers the play icon vertically */
}

.custom-spotlight-style-1 {
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5), 0 0 0 2px rgb(236, 12, 12) !important;
}

.custom-spotlight-style-2 {
  box-shadow: 0 0 0 9999px rgba(0, 255, 0, 0.3), 0 0 0 2px green !important;
}

.sliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  width: 10px;
  height: 90%;
}

.sliderTrack {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.552); /* Adjust shadow strength and spread as needed */
  background-color: rgb(38, 38, 38);
  position: relative;
  flex-grow: 1;
  transform: translateX(50%);
  border-radius: 9999px;
  height: 3px;
  height: 100%;
}

.sliderRange {
  position: absolute;
  background-color: white;
  border-radius: 9999px;
  width: 100%;
}

.sliderThumb {
  display: block;
  /* width: 30px;
  height: 30px; */
  background-color: white;
  box-shadow: 0 2px 10px DimGrey;
  border-radius: 10px;
}
.sliderThumb:hover {
  background-color: rgb(246, 216, 174);
  .sliderThumb:focus {
    outline: none;
    box-shadow: 0 0 0 5px DimGrey;
  }
}

.sticky-button {
  margin-right: 20px;
  position: fixed;
  top: 11%;
  right: 0;
  transform: translateY(-50%) rotate(-90deg); /* rotate the button */
  transform-origin: right; /* sets the point around which rotation happens */
  z-index: 1000;
}

.video-sticky-button {
  margin-right: 20px;
  position: fixed;
  top: 22%;
  right: 0;
  transform: translateY(-50%) rotate(-90deg); /* rotate the button */
  transform-origin: right; /* sets the point around which rotation happens */
  z-index: 1000;
}

.exercise-sticky-button {
  margin-right: 20px;
  position: fixed;
  top: 38%;
  right: 0;
  transform: translateY(-50%) rotate(-90deg); /* rotate the button */
  transform-origin: right; /* sets the point around which rotation happens */
  z-index: 1000;
}

.quiz-sticky-button {
  margin-right: 20px;
  position: fixed;
  top: 52%;
  right: 0;
  transform: translateY(-50%) rotate(-90deg); /* rotate the button */
  transform-origin: right; /* sets the point around which rotation happens */
  z-index: 1000;
}

.resizable-container {
  overflow: hidden;
  transition: opacity 0.5s, height 0.5s ease, max-height 0.5s ease;
  max-height: 1000px; // Adjust based on typical max content height
  opacity: 1;
}

.hidden {
  opacity: 0;
  max-height: 0; // Transition to 0 max-height smoothly
  height: 0; // Make sure this transitions smoothly too
  padding: 0 !important;
  margin: 0 !important;
}

.play {
  position: fixed;
  top: 11%;
  left: 1%;
  //transform: translateY(-50%) rotate(-90deg); /* rotate the button */
  transform-origin: left; /* sets the point around which rotation happens */
  z-index: 1000;
}

.dimmed {
  //filter: brightness(50%);
}

.blurred {
  //filter: blur(4px);
  //pointer-events: none; /* Disable pointer events */
}
