.visible {
    opacity: 1;
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .not-visible {
    opacity: 0;
  }

.container {
  padding-block: 24px;
    padding-inline: 48px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.my-video-container {
  position: sticky;

}

.my-vocabulary-container {
  position: sticky;
  top: 0;
}

.fixedVideoAndVocabulary {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0; /* adjust this to change the position */
}

.translateBoxScroll {
  position: relative;
  overflow-y: scroll;
  height: calc(45vh);
}

.myFixedPlayButton {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
  height: 50px;
  width: 50px;
  border-radius: 50%; /* makes the button circular */
  background-color: #f00; /* change to desired color */
  color: #fff; /* changes the color of the play icon */
  border: none; /* removes the button border */
  display: flex; /* used to center the play icon */
  justify-content: center; /* centers the play icon horizontally */
  align-items: center; /* centers the play icon vertically */
}
