.bubbleHovered {
  background-color: rgb(253, 222, 184);
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  }
  .bubbleVideoHovered {
    background-color: rgb(255, 160, 43);
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
.textbox {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 340;
  color: rgb(0, 0, 0);
  line-height: 190%;
}
.textbox::selection {
  background: transparent;
}
